@import url(./font.css);
*,
*::before,
a::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  color: #202020;
  width: 100%;
  height: 100vh;
  font-family: 'GmarketSansMedium';
  letter-spacing: .1rem;
}
