@import url(./font.css);
*,
*::before,
a::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  color: #202020;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'MonoplexKR-Regular';
  letter-spacing: .1rem;
}

button {
  font-family: 'MonoplexKR-Regular';
}

.fc-toolbar-title {
  font-size: 3rem;
}

input.typlist {
  padding-right: 10px;
  padding-left: 10px;
  letter-spacing: .2rem;
  background: inherit;
  font-size: 1rem;
  color: #202020;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
}

button.addList {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 3.5rem;
}
